# Dependencias
node_modules/
dist/
.output/

# Uploads de usuarios
backend/uploads/

# Logs y bases de datos locales
*.log
*.sqlite
*.sqlite-journal
.DS_Store

# Entorno
.env
.env.local

# Docker / Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma/

# TypeScript incremental build
*.tsbuildinfo

# IDEs
.idea/
.vscode/

# Volúmenes locales de Docker
pgdata/
redis-data/

# Paquetes npm
*.tgz
