# Dependencias
node_modules/
dist/
.output/

# Logs y bases de datos locales
*.log
*.sqlite
*.sqlite-journal
dist/
.DS_Store

# Entorno
.env
.env.local

# Docker / Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma/
